* {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 2%;
    margin-top: 3%;
}

li {
    list-style: none;
}

.main-navbar {
    text-align: center;
}

.main-navbar a {
    margin: 2%;
}

.clear {
    margin: 5%;
    clear: both;
}

.main-body-home {
    text-align: center;
}

.main-body-home h2 {
    padding-bottom: 2%;
}

.main-body-home p {
    padding: 0 10%;
}

.cs {
    padding: 3% 2%;
}

.cs h2 {
    text-align: center;
}

.cs h3 {
    padding: 1%;
}

.cs h4 {
    padding: .5%;
}

.cs-school {
    text-align: center;
}

.cs-school ul {
    text-align: left;
    display: inline-block;
    margin: 1% auto;
    padding: 0;
}

.cs-professional {
    text-align: center;
}

.cs-professional ul {
    text-align: left;
}

.cs-professional tr {
    border: 1px solid black;
}

.cs-professional td {
    padding: 0 5%;
    border: 1px solid black;
}

.cs-professional th {
    border: 1px solid black;
    margin: 0 5%;
}

.cs-professional table {
    border-spacing: 30px;
}

.non-cs-school {
    text-align: center;
}

.non-cs-school ul {
    display: inline-block;
    text-align: left;
}

@media only screen and (min-width: 1024px) {
    .row1 {
        width: 100%;
        display: inline-block;
    }
    .subject {
        width: 33%;
        padding-top: 3%;
        float: left;
        height: min-content;
    }
    .subject div {
        height: 100%;
    }
    .non-tech {
        display: block;
    }
    .non-tech h4 {
        padding: 3% 0 1% 0;
    }
}

@media only screen and (max-width: 1024px) {
    .subject {
        margin: 1.5%;
    }
    .non-cs-school h4 {
        margin-top: 3%;
    }
    .non-tech h4 {
        margin-bottom: 1.5%;
    }
}

.wrestling h2 {
    text-align: center;
    margin: 2% 0;
}

.wrestling h4 {
    text-align: center;
}

.wrestling p {
    margin: 2% 15%;
}

.other-activities {
    text-align: center;
}

.other-activities p {
    text-align: left;
    margin: 0 15%;
}

.other-activities h3 {
    margin: 3% 0;
}